
body{
    background-color: whitesmoke;
    font-family: serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#mother{
    width: 100%;
    font-size: 22px;
}
main{
    float: left;
    border: 1px solid skyblue;
    padding: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
input{
    padding: 4px;
    border: 2px solid skyblue;
    text-align: center;
    font-size: 18px;
    font-family: serif;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

input:hover {
    background-color: white; 
    color: black;
    transform: translateY(1px);
  }
aside{
    text-align: center;
    width: 300px;
    float: right;
    border: 1px solid skyblue;
    padding: 10px;
    font-size:  20px;
    background-color: skyblue;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

aside:hover {

    color: royalblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

#tbl{
    width: 890px;
    font-size: 20px;
    text-align: center;

}

#tbl th{
    background-color: skyblue;
    color: royalblue;
    font-size: 22px;
    padding: 11px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px bold skyblue;
    

}
#tbl:hover {
    background-color: skyblue; 
    color: white;
  }



aside button{
    width: 200px;
    padding: 8px;
    margin-top: 20px;
    font-family: serif;
    font-size: 19px;
    font-weight: bold;
    color: royalblue;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 250px;
    border-radius: 12px;
    transition-duration: 0.4s;

    
}

button:hover {
    background-color: skyblue; 
    color: white;
    transform: translateY(1px);
  }

